body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.landing-container {
    text-align: center;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
}

.header h1 {
    margin: 0;
}

.user-button,
.search-button {
    background-color: #0056b3;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.user-button:hover,
.search-button:hover {
    background-color: #003f7f;
}

.search-form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 800px;
    max-width: 100%;
    margin: auto;
}

.search-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-options label {
    margin: 0 20px;
}

.flight-info-fields,
.form-field {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-field {
    flex: 1;
    margin: 10px;
    min-width: 180px;
}

.form-field input,
.form-field label {
    width: 100%;
}

.form-field input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.flight-card-list {
    display: inline-block;
    align-self: center;
}

.flight-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 800px;
}

.flight-card h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.flight-card .flight-details,
.flight-card .additional-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.flight-card .flight-details span,
.flight-card .additional-details span {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.shared-flight-info {
    background-color: #e7f5ff;
    border-left: 5px solid #2196f3;
    padding: 10px;
    margin-bottom: 15px;
    font-style: italic;
}