* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around; /* Bağlantı elemanlarını navbar boyunca eşit olarak dağıtır */
  padding: 10px 0;
  background-color: #007bff; /* Mavi arka plan rengi */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekler */
}

.nav-item {
  color: white; /* Metin rengi beyaz */
  text-decoration: none; /* Altı çizili metni kaldırır */
  padding: 10px 15px; /* İç boşluk */
  border-radius: 5px; /* Köşeleri yuvarlatır */
  transition: background-color 0.3s; /* Renk değişimini animasyonla yumuşatır */
}

.nav-item:hover {
  background-color: #0056b3; /* Fare üzerine gelindiğinde koyu maviye dönüşür */
}
